

.success, .warning, .error  {
    padding: 6px 10px;
    width: fit-content !important;
}

.icon {
    font-size: 20px;
    transform: translateY(2px);
}

.success {
    color: green !important;
    background-color: #ccc;
}

.warning {
    color: yellow !important;
    background-color: #ccc;
}

.error {
    color: #804440 !important;
    background-color: #FDECEA;
}

.closeBtn {
    min-width: 20px !important;
    font-size: 20px !important;
    color: #333 !important;
    background-color: transparent !important;
}